n8n/workflows/mvp_workflow.json
{
  "name": "AI Neighborhood Curator v3.2 (Production)",
  "nodes": [
    {
      "parameters": {
        "path": "recommend",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "persona",
              "value": "={{ $json[\"query\"][\"persona\"] || \"frugal_homebody\" }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set Persona",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        400,
        300
      ]
    },
    {
      "parameters": {
        "command": "python c:/Users/Comet/Documents/GitHub/n8n-proj/main.py {{ $node[\"Set Persona\"].json[\"persona\"] }}"
      },
      "name": "Run Scoring Engine",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        600,
        300
      ]
    },
    {
      "parameters": {
        "filePath": "c:/Users/Comet/Documents/GitHub/n8n-proj/outputs/report.json"
      },
      "name": "Read Report JSON",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        800,
        300
      ]
    },
    {
      "parameters": {
        "setAllData": false,
        "sourceKey": "data",
        "options": {}
      },
      "name": "Parse JSON",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1,
      "position": [
        1000,
        300
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Set Persona",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Persona": {
      "main": [
        [
          {
            "node": "Run Scoring Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Scoring Engine": {
      "main": [
        [
          {
            "node": "Read Report JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Report JSON": {
      "main": [
        [
          {
            "node": "Parse JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}